.env

BeaTraction.Frontend/node_modules
BeaTraction.Frontend/dist
BeaTraction.Frontend/.env.local

BeaTraction.WebAPI/bin
BeaTraction.WebAPI/obj
BeaTraction.Application/bin
BeaTraction.Application/obj
BeaTraction.Domain/bin
BeaTraction.Domain/obj
BeaTraction.Infrastructure/bin
BeaTraction.Infrastructure/obj

*.db
*.db-shm
*.db-wal

.vs/
.vscode/
.idea/
*.user
*.suo
